body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
  margin: 0;
  font-family: "Roboto";
}
.sidebar {
  background-color: #0ea5e9;
  grid-area: 1/1/3/2;
  display: grid;
  padding: 1rem;
  grid-template-rows: auto auto auto 1fr;
  gap: 4vh;
  font-weight: 500;
  color: white;
}
.mainContent {
  background-color: #e0f2fe;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.logo {
  font-size: 2rem;
}
li {
  font-size: 1.5rem;
  padding-top: 1.5vh;
}
a {
  text-decoration: none;
  color: white;
}
.header {
  display: grid;
  grid-template-rows: 1.5fr 2fr;
  font-weight: 500;
  padding: 2vh 3vw;
}
.topHeader {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 10vw;
}
input {
  width: 100%;
  border: none;
  background-color: #e0f2fe;
  height: 2rem;
  border-radius: 18px;
}
.smallProfileName {
  font-size: 1.5rem;
}
.magGlass {
  background-color: black;
  height: 2rem;
  width: 2rem;
}
.searchBar {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 1.5rem;
}
.bell {
  background-color: black;
  height: 2rem;
  width: 2rem;
}
.smallProfilePic {
  background-color: black;
  height: 3rem;
  width: 3rem;
}
.profileInfo {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  align-items: center;
  gap: 2rem;
}
